{% extends "layout.html" %}
{% block title %}
Rental List
{% endblock %}
{% block content %}

<!--Rental list use tailwind datatable-->


<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Rental Listings</h1>
        <a href="create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">New Add</a>
    </div>

    <table id="rentalTable" class="w-full">
        <thead>
            <tr>
                <th>drone brand</th>
                <th>drone model</th>
                <th>user</th>
                <th>rental_date</th>
                <th>return_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rental listings will be dynamically added here -->
            {% for rental in rental_list %}
            <tr>
                <td>{{ rental.drone.brand }}</td>
                <td>{{rental.drone.model}}</td>
                <td>{{ rental.user }}</td>
                <td>{{ rental.rental_date }}</td>
                <td>{{ rental.return_date }}</td>
                <td>
                    <a href="update/{{ rental.id }}"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                    <a href="delete/{{ rental.id }}"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Initialize DataTables
        var table = $('#rentalTable').DataTable();

        // filter by drone brand, model, user, rental_date, return_date
        $('#rentalTable thead tr').clone(true).appendTo('#rentalTable thead');
        $('#rentalTable thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();

            switch (title) {
                case 'drone brand':
                case 'drone model':
                case 'user':
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                    break;
                case 'rental_date':
                case 'return_date':
                    $(this).html('<input type="date" placeholder="Search ' + title + '" />');
                    break;
                case 'Actions':
                default:
                    $(this).html('');
            }

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });





    });
</script>
{% endblock %}